@page
@model Sejlklub21.Pages.Boats.CreateDamageModel
@{
}

<h1>opret en skade</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="Damage.Description" class="control-label"></label>
        <input asp-for="Damage.Description" class="form-control" />
        <span asp-validation-for="Damage.Description" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-outline-primary" />
</form>