@page
@model Sejlklub21.Pages.Boats.CreateBoatModel
@{
}

<h1>Opret en båd</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="Boat.Name" class="control-label"></label>
        <input asp-for="Boat.Name" class="form-control"/>
        <span asp-validation-for="Boat.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Boat.Model" class="control-label"></label>
        <input asp-for="Boat.Model" class="form-control"/>
        <span asp-validation-for="Boat.Model" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Boat.Specification" class="control-label"></label>
        <input asp-for="Boat.Specification" class="form-control"/>
        <span asp-validation-for="Boat.Specification" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Boat.Location" class="control-label"></label>
        <input asp-for="Boat.Location" class="form-control"/>
        <span asp-validation-for="Boat.Location" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-outline-primary"/>
</form>