@page
@model Sejlklub21.Pages.Accounts.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.Username" class="control-label"></label>
                <input asp-for="@Model.Username" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Password" class="control-label"></label>
                <input asp-for="@Model.Password" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
                <input type="button" value="Forgot Password" class="btn btn-link" />
            </div>
        </form>
    </div>
</div>