@page
@model Sejlklub21.Pages.Blogs.IndexModel
@{
    ViewData["Title"] = "Blog";
}

<h1>Hillerød Sejlklubs Blog</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Titel
            </th>
            <th>
                Dato
            </th>
            <th>
                Beskrivelse
            </th>
            <th>
                Billede
            </th>
        </tr>
    <tbody>
       @* @foreach (var blogPost in Models.Blog)*@
        {
            <tr>
                <td>
                    
                </td>
            </tr>
        }

    </tbody>

    </thead>

</table>