@page
@model Sejlklub21.Pages.Logins.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<form method="post">
    <div class="form-group">
        <label class="control-label">@Model.CurrentMember.Name</label>
    </div>
</form>